<div class="container">
	<div class="row">
		<span class="col-sm-4 label">Name</span>
		<span class="col-sm-8 value">{{globals.app.name}}</span>
	</div>
	<div class="row">
		<span class="col-sm-4 label">Program</span>
		<span class="col-sm-8 value">{{globals.app.status.program}}</span>
	</div>
	<div class="row">
		<span class="col-sm-4 label">Version</span>
		<span class="col-sm-8 value">{{globals.app.status.version}}</span>
	</div>
	<div class="row">
		<span class="col-sm-4 label">Descriprion</span>
		<span class="col-sm-8 value">{{globals.app.status.description}}</span>
	</div>
	<div class="row">
		<span class="col-sm-4 label">Intrusion in progress</span>
		<span class="col-sm-8 value">{{globals.app.status.intrusion}}</span>
	</div>
	<div class="row">
		<span class="col-sm-4 label">Intrusions total</span>
		<span class="col-sm-8 value">{{globals.app.countInt}}</span>
	</div>
	<div class="row">
		<span class="col-sm-4 label">Alarm paused (light on)</span>
		<span class="col-sm-8 value">{{globals.app.status.pause}}</span>
	</div>
	<div class="row" *ngFor=" let sensor of globals.app.status.sensors">
		<span class="col-sm-4 label">{{sensor.name}}</span>
		<span class="col-sm-8 value">{{sensor.value}}</span>
	</div>
</div>
