.label {
	font-weight: bold;
}

.action {
  margin: 0 0 2em 2em;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.action a {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 2em;
  border-radius: 4px;
  padding-left: 10px;
}
.action a:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.action a.selected {
  background-color: #CFD8DC;
  color: white;
}
.action a.selected:hover {
  background-color: #BBD8DC;
}
.action .text {
  position: relative;
  top: -3px;
  left: 1em;
}