<div class="container">
	<div class="row">
		<span class="col-sm-4 label">Name</span>
		<span class="col-sm-8 value">{{status.app.name}}</span>
	</div>
	<div class="row">
		<span class="col-sm-4 label">Program</span>
		<span class="col-sm-8 value">{{app.program}}</span>
	</div>
	<div class="row">
		<span class="col-sm-4 label">Version</span>
		<span class="col-sm-8 value">{{app.version}}</span>
	</div>
	<div class="row">
		<span class="col-sm-4 label">Descriprion</span>
		<span class="col-sm-8 value">{{app.description}}</span>
	</div>
	<div class="row">
		<span class="col-sm-4 label">Intrusion in progress</span>
		<span class="col-sm-8 value">{{app.intrusion}}</span>
	</div>
	<div class="row">
		<span class="col-sm-4 label">Intrusions total</span>
		<span class="col-sm-4 value">{{countInt}}</span>
		<button class="col-sm-2" (click)="showIntrusionsHistory()" >show history</button>
		<span class="col-sm-2 ">&nbsp;</span>
	</div>
	<div class="row">
		<span class="col-sm-4 label">Alarm paused (light on)</span>
		<span class="col-sm-8 value">{{app.pause}}</span>
	</div>
	<div class="row" *ngFor=" let sensor of app.sensors">
		<span class="col-sm-4 label">{{sensor.name}}</span>
		<span class="col-sm-8 value">{{sensor.value}}</span>
	</div>
	<div class="row">
		<img [src]="api.liveAlarmImageUrl(status.app.id)"/>
	</div>
</div>
