.thumbnail {
  margin: 10px;
  padding: 7px;
  cursor: pointer;
  float:left;
  border-radius: 4px;
  padding-left: 10px;
  background-color: #EEE;

}


.thumbnail .selected {
  background-color: #CFD8DC;
  color: white;
}